<!DOCTYPE html>
<html lang="en">
<head>
	<title>I'm King</title>
	<meta charset="utf-8">
	{% load staticfiles %}
	
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<script type = "text/javascript" src ="{% static "script/jQuery3.3.1.js" %}"></script>
	<script type = "text/javascript" src ="{% static "script/bootstrap.js" %}"></script>
	<script type = "text/javascript" src ="{% static "script/navbar.js" %}"></script>
	<script type = "text/javascript" src ="{% static "script/navbarselect.js" %}"></script>
	<script type = "text/javascript" src ="{% static "script/navbarsmooth.js" %}"></script>
	{% load sass_tags %}
	<link href="{% static 'script/bootstrap.css' %}" rel="stylesheet">
	<link href="{% sass_src 'scss/church.scss' %}" rel="stylesheet" type="text/css">
	<title></title>
</head>
<body>

	<style>
	@media screen and (max-width: 667px){
		#navbar a{
			font-size: 80%;
		}
		.lead{
			font-size:0.8rem;
		}
		.card-body a:hover {
			color:whitesmoke;
		}
		.QA-text{
			font-size:0.9rem;
		}
		.QA-body{
			font-size:0.8rem;
		}
		.card-area{
			flex-direction: column;
		}
}
		@media screen and (max-width: 650px){
		#navbar a{
		font-size: 80%;
		}
		.lead{
			font-size:0.8rem;
		}
		.card-body a:hover {
			color:whitesmoke;
		}
		.QA-text{
			font-size:0.9rem;
		}
		.QA-body{
			font-size:0.8rem;
		}
		.card-title{
			font-size:1rem;
		}
}


	</style>
	<nav id="navbar" class="navbar navbar-expand fixed-top  navbar-light ">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav" id="find-tag">
				<li class="nav-item active">
        			<a class="nav-link " href="#section-2">Background</a>
      			</li>
				<li class="nav-item active">
        			<a class="nav-link " href="#section-3">Ticket<span class="sr-only">(current)</span></a>
      			</li>
				<li class="nav-item active">
        			<a class="nav-link " href="#section-4">Rules<span class="sr-only">(current)</span></a>
      			</li>
				<li class="nav-item active">
        			<a class="nav-link " href="#section-5">Q&A<span class="sr-only">(current)</span></a>
      			</li>
				<li class="nav-item active">
        			<a class="nav-link " href="#section-6">About<span class="sr-only">(current)</span></a>
      			</li>                    
			</ul>	  
	  	</div>
	</nav>
	<header id="header" class=" d-flex  align-items-center flex-md-row flex-column bg-white menu-bar">
		<img src="{% static "images/head-2.png" %}" class="header-img img-fluid " alt="Responsive image">
	</header><!-- /header -->
	<section id='section-1'  class="container part mt-4 ">
		<div class='part-1 text-center' >
			<div class = 'mt-5 mx-5'>
				<p class="lead special-text">你好</p>
				<p class="lead special-text">我是大衛</p>
				<p class='lead'>我想邀請你參加一場皇室宴會</p>
				<p class='lead'>在這場盛宴裡，你會經歷一段愛與慾竄流的奇妙旅程</p>
				<p class='lead'>你將有機會潛入我慾望的最深處，同時，你會觸摸到你心中</p>
				<p class='lead'>那個最幽黑的渴望</p>
				<p class='lead'>只有誠實面對自己選擇的人才有機會</p>
				<p class='lead'>觸摸到那位</p>
				<p class="lead special-text">最獨一無二的 <span class='px-4'> KING！</span></p>
			</div>	
		</div>
		<div class = "text-center">	
			<p class = "lead mt-5">「喔！對了，提醒您，這場宴會18禁...」</p>
		</div>
	</section>
	<section class="container-fluid m-0 p-0" >
		<img src="{% static "images/second-1.png" %}" class=" img-fluid " alt="Responsive image">
	</section>
	<section id="section-2" class="container part nav-part">
		<div class='part-1 text-center' >
			<h5 class='main-title special-text pb-2'>背景介紹</h5>
			<hr id="two" class=''>
			<div class='mx-5 pt-3'>
				<p class= "lead">根據聖經大衛王與拔示巴的故事所改編</p>
				<p class= "lead">大衛英勇善戰、才智多謀</p>
				<p class= "lead">在他作王的期間</p>
				<p class= "lead">無意間發現了一名貌美動人的女人 — 拔示巴</p>
				<p class= "lead">拔示巴是烏利亞的妻子</p>
				<p class= "lead">烏利亞是大衛手下的悍將</p>
				<p class= "lead">大衛仍不顧一切地將拔示巴佔為己有</p>
				<p class= "lead">並使其懷孕</p>
				<p class= "lead">大衛想將拔示巴肚裡的孩子</p>
				<p class= "lead">變成是烏利亞的</p>
				<p class= "lead">卻始終沒能成功</p>
				<p class= "lead special-text">因此大衛決定不擇手段</p>
				<p class= "lead special-text">掩飾所有的一切...</p>
			</div>	
		</div>
	</section>
	<section class="container nav-part" id="section-3">
		<div class='part text-center my-5' >
			<h5 class='main-title special-text pb-2'>我要購票</h5>
			<hr id='three' class=''>
			<p class="lead pt-3">每場只提供80張票，售完為止。</p>
		</div>
		{% comment %} <iframe id = 'kktix' class="kktix" src="https://kktix.com/tickets_widget?slug=db9c7ecb" frameborder="0" height="350" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"  style="background-color: #45a163;"></iframe>	 {% endcomment %}
			<div class="card-deck  card-area">
				<div class="card card-sell mb-4">
					<a href="https://imchurchking.kktix.cc/events/db9c7ecb" target="_blank">
					<div class="card-header sell-header">
						<div class="my-0 d-flex justify-content-center ">
							<div class='card-title my-0 mx-3'>12/22</div>
						 </div>
						 <div class="my-0 d-flex justify-content-center ">
						 	<div class='card-title my-0 mx-1'>Friday</div>
							<div class='card-title my-0 mx-1'>19:00</div>
						</div>	
					</div>
					<div class="card-body sell-body">
						<div class="my-0 d-flex justify-content-center sell-body-text">80</div>
					</div>
					</a>		
				</div>
				<div class="card card-sell mb-4">
					<a href="https://imchurchking.kktix.cc/events/db9c7ecb" target="_blank">
					<div class="card-header sell-header">
						<div class="my-0 d-flex justify-content-center ">
							<div class='card-title my-0 mx-3'>12/23</div>
						</div>
						<div class="my-0 d-flex justify-content-center ">
							<div class='card-title my-0 mx-1'>Saturday</div>
							<div class='card-title my-0 mx-1'>14:00</div>
						</div>	
					</div>
					<div class="card-body sell-body">
						<div class="my-0 d-flex justify-content-center sell-body-text">80</div>
					</div>
					</a>
				</div>
			<div class="card card-sell mb-4">
				<a href="https://imchurchking.kktix.cc/events/db9c7ecb" target="_blank">
				<div class="card-header sell-header">
					<div class="my-0 d-flex justify-content-center ">
						<div class='card-title my-0 mx-3'>12/23</div>
					</div>
					<div class="my-0 d-flex justify-content-center ">
						<div class='card-title my-0 mx-1'>Saturday</div>
						<div class='card-title my-0 mx-1'>19:00</div>
					</div>
				</div>
				<div class="card-body sell-body">
					<div class="my-0 d-flex justify-content-center sell-body-text">80</div>
				</div>
				</a>
			</div>
			<div class="card card-sell mb-4">
				<a href="https://imchurchking.kktix.cc/events/db9c7ecb" target="_blank">
				<div class="card-header sell-header">
					<div class="my-0 d-flex justify-content-center ">
						<div class='card-title my-0 mx-3'>12/24</div>
					</div>
					<div class="my-0 d-flex justify-content-center ">
						<div class='card-title my-0 mx-1'>Sunday</div>
						<div class='card-title my-0 mx-1'>10:00</div>
					</div>
				</div>
				<div class="card-body sell-body">
					<div class="my-0 d-flex justify-content-center sell-body-text">80</div>
				</div>
				</a>
			</div>						
			<div class="card card-sell mb-4">
				<div class="card-header sell-header">
					<a href="https://imchurchking.kktix.cc/events/db9c7ecb" target="_blank">
					<div class="my-0 d-flex justify-content-center ">
						<div class='card-title my-0 mx-3'>12/24</div>
					</div>
					<div class="my-0 d-flex justify-content-center ">
						<div class='card-title my-0 mx-1'>Sunday</div>
						<div class='card-title my-0 mx-1'>14:00</div>
					</div>
				</div>
				<div class="card-body sell-body">
					<div class="my-0 d-flex justify-content-center sell-body-text">80</div>
				</div>
				</a>
			</div>
		</div>
	</section>
	<section class="container part nav-part" id="section-4">
		<div class='part-1 lead text-center' >
			<h5 class='main-title special-text pb-2'>宴會規則</h5>
			<hr class='' id="four">
			<ul class='list-group mx-5 pt-3' id="rulelist">
				<li class="list-group-item rule"> • 宴會採預購模式，同一時段最多容納80位賓客，不接受當場退換票。</li>
				<li class="list-group-item rule"> • 宴會採分批入場，遲到將無法參加宴會，亦不予退費，請您於宴會時間前15分鐘抵達！</li>
				<li class="list-group-item rule"> • 為了宴會品質，我們提供寄物服務，請您攜帶精簡的行囊與一顆期待的心。</li>
				<li class="list-group-item rule"> • 宴會中，您需要全程攜帶面具，建議您戴隱形眼鏡！</li>
				<li class="list-group-item rule"> • 宴會中提供少量威士忌，參與者須年滿18歲！因生理因素不方便飲酒者，請酌量。</li>
				<li class="list-group-item rule"> • 由於提供酒品，顧及安全與宴會品質，請搭乘大眾運輸工具。</li>
				<li class="list-group-item rule"> • 請勿觸摸皇室宴會裡的任何演員，除非演員主動向你伸手。</li>
				<li class="list-group-item rule"> • 在探索KING的故事時，請勿說話與討論。</li>
				<li class="list-group-item rule"> • 全程請勿使用手機、請勿拍照、請勿錄影。</li>
				<li class="list-group-item rule"> • 在宴會各個角落裡，都在發生故事，你可以跟隨任何一個你喜歡的角色，去探索一段屬於你自己的故事。
				</li>
			</ul>
		</div>
	</section>
	<section class="container part nav-part" id="section-5">
		<div class='part-1 ' >
			<h5 class='main-title special-text pb-2 text-center'>問與答</h5>
			<hr class='mb-5' id="five">
			<div class="accordion text-center" id="accordionExample">
  				<div class="card" style="border:none;margin-bottom:0px;height:auto">
    				<div class="card-header" id="headingOne">
      					<h2 class="mb-0">
        					<button class="btn QA-text dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          					1. 請問《King》是怎樣的一齣戲？
        					</button>
      					</h2>
    				</div>
    				<div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
      					<div class="card-body QA-body text-center">
        					<p class='card-text'>《King》是以沈浸式劇場的方式讓觀眾體驗主觀的劇情。</p>
							<p class='card-text'>這是一齣關於大衛王與拔示巴的感情糾葛故事，</p>
							<p class='card-text'>讓觀眾用自己的角度去拼湊屬於觀賞者自己的劇情。</p>
							<p class='card-text'>每個人都有屬於自己的結局。</p>
							<p class='card-text'>劇情涉及成人議題，18歲以下不得參加</p>
							<p class='card-text'>現場提供酒精飲料，帶著微微的醉意去看戲，看得更入戲。</p>
      					</div>
    				</div>
  				</div>
				<div class="card" style="border:none;margin-bottom:0px;height:auto">
    				<div class="card-header " id="headingOne">
      					<h2 class="mb-0">
        					<button class="btn QA-text  dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
          					2. 一個場次有多少參與者一起進行？
        					</button>
      					</h2>
    				</div>
    				<div id="collapsetwo" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
      					<div class="card-body QA-body">
        				一場將有80位觀眾，會一起在現場不同的角落進行探索。
      					</div>
    				</div>
					<div class="card" style="border:none;margin-bottom:0px;height:auto">
    					<div class="card-header" id="headingOne">
      						<h2 class="mb-0">
        						<button class="btn QA-text  dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
          						3. 戲總長時間？
        						</button>
      						</h2>
    					</div>
    					<div id="collapsethree" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
      						<div class="card-body QA-body">
        					戲總長約90分鐘，無中場休息。
      						</div>
    					</div>
  					</div>
					<div class="card" style="border:none;margin-bottom:0px;height:auto">
    					<div class="card-header " id="headingOne">
      						<h2 class="mb-0">
        						<button class="btn QA-text  dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
          						4. 入場時間？
        						</button>
      						</h2>
    					</div>
    					<div id="collapsefour" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
      						<div class="card-body QA-body">
        						<p class='card-text'>開演前30分鐘即開放陸續進場</p>
								<p class='card-text'>為了觀戲品質，不開放遲到觀眾進場，遲到將無法入場，並不予以退票，</p>
								<p class='card-text'>請於開演前提早15-30分鐘入場。為了自身的權益，請務必準時入場。</p>
      						</div>
    					</div>
  					</div>
					<div class="card" style="border:none;margin-bottom:0px;height:auto">
    					<div class="card-header" id="headingOne">
      						<h2 class="mb-0">
        						<button class="btn QA-text  dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="true" aria-controls="collapsefive">
          						5. 不喝酒的人可參加嗎？
        						</button>
      						</h2>
    					</div>
    					<div id="collapsefive" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
      						<div class="card-body QA-body">
        					不喝酒也可以參加，但是現場沒有提供非酒精飲料。
      						</div>
    					</div>
  					</div>
					<div class="card" style="border:none;margin-bottom:0px;height:auto">
    					<div class="card-header" id="headingOne">
      						<h2 class="mb-0">
        						<button class="btn QA-text  dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="true" aria-controls="collapsesix">
          						6. 建議穿著？
        						</button>
      						</h2>
    					</div>
    					<div id="collapsesix" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
      						<div class="card-body QA-body">
        					觀戲途中會跟著演員穿梭，建議穿著好走好站的鞋子。
      						</div>
    					</div>
  					</div>
					<div class="card" style="border:none;margin-bottom:0px;height:auto">
    					<div class="card-header" id="headingOne">
      						<h2 class="mb-0">
        						<button class="btn QA-text  dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseseven" aria-expanded="true" aria-controls="collapseseven">
          						7. 我東西大包小包的怎麼辦？
        						</button>
      						</h2>
    					</div>
    					<div id="collapseseven" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
      						<div class="card-body QA-body">
        					現場會有寄物櫃，所有觀眾需先寄物後入場。
      						</div>
    					</div>
  					</div>                  
			</div>	  
		</div>
	</section>
	<section id='section-6' class="container part nav-part">
		<div class='part-1 text-center' >
			<h5 class='main-title special-text pb-2'>關於我們</h5>
			<hr id="six" class=''>
			<div class="dropup">
				<button type="button" class="btn about-content-button dropdown-toggle mt-3" data-toggle="modal" data-target="#exampleModalLong">
  					關於我們的故事
				</button>
			</div>
			<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  				<div class="modal-dialog" role="document">
    				<div class="modal-content">
      					<div class="modal-body about-content">
        					<p class = 'about-content-maintitle'>iM行動教會X禧劇團</p>
							<p class="text-left lead about-content-subtitle">禧劇團</p>
							<p class="text-left lead about-content-title">由iM行動教會主任牧師松慕強命名</p>
							<p class="text-left lead about-content-text">禧，取自於「禧年」，是7個安息年週期的後面一年（第50年），也有另一種觀點認為是第49年。</p>
							<p class="text-left lead about-content-text pt-0">根據聖經規則，在以色列王國和猶大王國領土，已經賣掉的土地這時可以得回，而賣身為奴者這時也可以重獲自由。《維基百科解釋》
							禧劇團的創立，主要藉由網路短片使人認識神，透過戲劇釋放自由的訊息。</p>
							<p class="text-left lead about-content-title">沈浸式劇場</p>
							<p class="text-left lead about-content-text">沈浸式劇場，爲時尚、流行、藝術、戲劇界，帶來巨大的影響，為世界帶來沈浸式戲劇啟蒙的，是英國劇團Punchdrunk創作的《sleep no more 》，該劇改編自莎翁名作《馬克白》。</p>
							<p class="text-left lead about-content-text">《sleep no more》在紐約與上海造成風潮，影視明星各個打卡觀看，不斷有粉絲同齣戲一再買票，觀看了數十上百次，《sleep no more》演出場所位於有許多房間的旅館內，不同房間上演不同的故事，觀眾戴上面具穿梭於旅館各處，隨己意跟隨演員，由觀眾創造屬於自己的主角與故事，擁有專屬自己那份獨特的體驗。</p>
							<p class="text-left lead about-content-title">戲劇普遍規律依然被遵守</p>
							<p class="text-left lead about-content-text">沈浸式戲劇打破傳統戲劇演員在台上表演，觀眾在台下觀看的觀演方式，把觀演關係置於流動的時空之中，觀眾的主動探索在整齣戲中至關重要，不同的時空選擇會產生不同的故事線。</p>
							<p class="text-left lead about-content-text">作為國際戲劇界的新寵，沈浸式戲劇雖然特立獨行，但戲劇的普遍規律依然被遵守。由觀眾定義主角的沈浸式戲劇，非但沒有淡化戲劇的使命，反而使戲劇的核心，深化在觀眾的心裡，使人不斷地反思與回味。英國劇團Punchdrunk藝術總監費力克斯·巴雷特說：「希望藉沈浸式戲劇賦予觀眾一種力量，讓他們在娛樂體驗中自由選擇，並為自己的選擇負責。」</p>
							<p class="text-left lead about-content-title">《KING》</p>
							<p class="text-left lead about-content-text">劇本改編自聖經大衛與拔示巴的故事，採用《sleep no more 》的形式，藉由沈浸式戲劇，讓觀眾能深入以主觀的方式融入劇情。</p>
      					</div>
      				<div class="modal-footer  p-0">
        				<button type="button" class="btn" data-dismiss="modal" style="color:rgb(84,0,13)">Close</button>
      				</div>
    			</div>
  			</div>
		</div>
	</div>
	</section>
	<section id='sectionlast' class="container-fluid part">
		<img src="{% static "images/last.png" %}" class=" img-fluid " alt="Responsive image">
	</section>


</body>
</html>