


@import url(https://fonts.googleapis.com/css?family=Megrim);


body{
	background-color: rgb(84,0,13);
	font-family: "微軟正黑體";
}
hr{
	border-top: 1.2px solid #fdfdfd;
	text-align: center;
	width:50%;
}
.nav-link{
	font-weight:400;
	
}
.special-text{
	color:rgb(255,244,197);
}
p{
	margin-top: 1rem;
    margin-bottom: 1rem;
}
.lead{
	font-size:1.1rem;
}
.main-title{
	font-size: 2rem;
	font-family: "微軟正黑體";
	font-weight: 300;
}

hr#two:after{
	content: 'B a c k g r o u n d';
	display: inline-block;
	position: relative;
	top: -1.01rem;
	padding: 0 20px;
	background:  rgb(84,0,13);
	color: #faf3f3;
	font-size: 1rem;
	font-family: "微軟正黑體";
	font-weight: 300;
}
hr#three:after{
	content: 'T i c k e t';
	display: inline-block;
	position: relative;
	top: -1.01rem;
	padding: 0 20px;
	background:  rgb(84,0,13);
	color: #faf3f3;
	font-size: 1rem;
	font-family: "微軟正黑體";
	font-weight: 300;
}
hr#four:after{
	content: 'R u l e s';
	display: inline-block;
	position: relative;
	top: -1.01rem;
	padding: 0 20px;
	background:  rgb(84,0,13);
	color: #faf3f3;
	font-size: 1rem;
	font-family: "微軟正黑體";
	font-weight: 300;
}
hr#five:after{
	content: ' Q & A ';
	display: inline-block;
	position: relative;
	top: -1.01rem;
	padding: 0 20px;
	background:  rgb(84,0,13);
	color: #faf3f3;
	font-size: 1rem;
	font-family: "微軟正黑體";
	font-weight: 300;
}
hr#six:after{
	content: ' A b o u t ';
	display: inline-block;
	position: relative;
	top: -1.01rem;
	padding: 0 20px;
	background:  rgb(84,0,13);
	color: #faf3f3;
	font-size: 1rem;
	font-family: "微軟正黑體";
	font-weight: 300;
}

.header-img{
  width: 100%;

}
.part{
	padding-right: 0;
	padding-left: 0;
	background-color: rgb(84,0,13);
	color: rgb(246, 248, 248);
	margin-top:0 ;
	margin-bottom: 0;
}

.card{
	height: auto;
	border:1px solid;
	color: rgb(81, 139, 139);
	background-color: rgb(84,0,13);
}
.rule{
	background-color: rgb(84,0,13);
	border: none;
	margin-bottom:1rem; 
	
	
}

#navbar{
	height: 9%;
	background-color: rgb(84,0,13);
}
#navbar a{
	font-size: 120%;
	color: rgba(245, 241, 241, 0.5);
	
}
#navbar a:hover, #navbar a.active {
	color:rgb(255,244,197);
}
#section-3{
	margin-top: 12rem
}
#section-4{
	margin-top: 12rem
}
#section-5{
	margin-top: 12rem
}
#section-6{
	margin-top: 12rem
}
.card-title{
	font-size:1rem;
	font-weight: 300;
	color:rgb(255,244,197);
}
.card-header{
	border: none;
	background-color: rgb(84,0,13);
	color: rgb(242, 247, 247);

	
}
.sell-header{
	border: 0.5px solid rgb(242, 247, 247);
	background-color: rgb(84,0,13);
	color: rgb(242, 247, 247);
	border-radius: 27px 27px 1px 1px !important;
	
}

.sell-body{
	border: 0.5px solid rgb(242, 247, 247)!important;;
	background-color: rgb(84,0,13)!important;;
	color: rgb(244, 247, 247)!important;;
	border-radius: 1px 1px 27px 27px !important;
	height:9rem!important;
	
}
.card-sell a{
	text-decoration:none
}
.sell-body-text{
	font-size:4rem;
	font-weight: 100;
	color:rgb(255,244,197);
	
}
.sell-header:hover, {
	background-color:rgba(242, 247, 247, 0.1);
}
.sell-body:hover{
	background-color:rgba(242, 247, 247, 0.1);
}
.card-body{
	border: none;
	background-color: rgb(84,0,13);
	color: rgb(244, 247, 247);
	
	
}
.card-sell{
	border-radius: 27px 27px 27px 27px;

}
.card-body a{
	color: rgb(243, 245, 245);
	text-shadow: 1px 3px 1px #0303037a;
}

.card-body a:hover, .QA-text:hover, .about-content-button:hover{
	color:rgb(255,244,197);
}
.QA-text{
	color: rgb(242, 247, 247);
	font-size:1rem;
	font-weight: 300;
}
.QA-body{
	font-size:1rem;
	font-weight: 300;
}
.card-text{
	margin-top: 1rem;
    margin-bottom: 0rem;
}

.about-content{
	background-color: rgb(84,0,13);
}
.about-content-maintitle{
	font-size:2rem;
	font-weight: 300;
	color:rgb(255,244,197);
}
.about-content-subtitle{
	font-size:1.2rem;
	font-weight: 200;
	color:rgb(255,244,197);
}
.about-content-title{
	font-size:1rem;
	font-weight: 200;
	color:rgb(255,244,197);
}
.about-content-text{
	font-size:1rem;
	font-weight: 200;
	color:rgb(242, 247, 247);
	line-height: 2rem;
	letter-spacing:0.05rem;
}
.about-content-button{
	color: rgb(242, 247, 247);
	font-size:1.2rem;
	font-weight: 200;
}
.ticket{
	width: 90%
}
.ticket-2{
	width: 60%
}
#ticket-1{
	position: absolute;
    font-size: 350%;
    color: #f2f7f7;
    top: 30%;
    left: 29%;
    font-weight: 400;
    transform: rotate(-3deg);
    font-family: 'Times New Roman', Times, serif;
}








